<section class="m-2">
	<h1>Welcome to Proof of Concept for PWA CX3</h1>
	<div class="mt-2 mb-2">
		If you are on a mobile accessing the public site<br/>
		The API currently will not work - therefore logon and registration will not work.<br/>
		<ul>
			<li>Select "By pass authentication"</li>
			<li>select "Thredbo" or "Christ Church Adventure Park" below</li>
			<li>Select "Notification permission" - allow when prompted</li>
			<li>Change the message title or text (if you want to)</li>
			<li>Select "Test Notice Directly to service worker"</li>
		</ul>
	</div>
	<div>
		<button type="button" mat-flat-button color="accent" routerLink="/cc-adventure-park" class="mr-2 mb-2">Christ Church Adventure Park</button>
		<button type="button" mat-flat-button color="accent" routerLink="/thredbo">Thredbo</button>
	</div>
</section>
