<ng-container *ngIf="heroSplash$ | async as hero">
	<div [ngStyle]="{'background-image': 'url(' + hero.backgroundImage + ')'}" class="background-image"></div>

	<img *ngIf="hero.logo.url" [src]="hero.logo.url" [width]="hero.logo.width" [height]="hero.logo.height" [alt]="hero.title"
		 class="hero-logo" />
	<span class="sub-title">{{hero.subTitle}}</span>
	<span class="sub-description">{{hero.description}}</span>
</ng-container>
