@import "../../../styles/flex-mixins";
@import "../../../styles/vars";

:host {
    max-width: 100%;
    min-width: 100%;
    @include flex-box();
    @include flex-direction(column);
    @include align-items(center);
	text-align: center;
    @include breakpoint($min: md) {
        @include align-items(flex-start);
		text-align: left;
    }
}

.background-image {
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: fixed;
	position: absolute;
	overflow: hidden;
    top: 0;
	width: 100%;
	height: 30rem;
    left: 0;
}

.hero-logo,
.sub-title,
.sub-description {
    z-index: 1;
	color: white;
}

.hero-logo {
	padding: 1rem;
}

.sub-title {
    font-size: $text-big * 0.85;
    line-height: $text-big * 1.2;
	@include breakpoint($min: md) {
		font-size: $text-big;
	}
	padding: 0 1rem;
}

.sub-description {
    font-size: $text-standard;
    line-height: $text-standard * 1.3;
	padding: 0 1rem;
}
