
	<mat-card-header>
		<mat-card-title>
			<h1 class="flex-box flex-align-center"><mat-icon aria-hidden="false" aria-label="User Login" class="mr-2">account_circle</mat-icon>Login</h1>
		</mat-card-title>
	</mat-card-header>
  
	<form [formGroup]="form" mat-card-content>
		<div class="flex-box flex-column"  (keyup.enter)="login()">
			<mat-form-field class="mt-1" appearance="outline">
				<mat-icon matPrefix class="pr-1">email</mat-icon>
				<input matInput type="email" placeholder="Email address" Title="Email address" formControlName="email">
				<mat-error *ngFor="let errorKey of form.get('email')?.errors | errorkeys">
					{{ errorKey | formErrorPipe: form.get('email')?.getError(errorKey) }}
				</mat-error>
			</mat-form-field>
		</div>
		<div class="mt-4 mb-4 flex-box flex-column">
			<button mat-flat-button type="button" (click)="login()" color="primary" aria-label="Login Button">Login</button>
		</div>
	</form>

	<mat-divider></mat-divider>
	<mat-card-footer class="flex-box flex-row flex-align-center" *ngIf="!isNewRegistration">
	  <span class="pr-2">New to Roller Software?</span>
	  <button mat-flat-button type="button" (click)="registerAccount()" aria-label="Sign up Button">Register now!</button>
	</mat-card-footer>
