<ng-container *ngIf="pageTitle$ | async as pageTitle">
	<div class="mt-4 mb-4">
		<h1 class="mat-headline" >
			<a [href]="pageUrl$ | async" target="_self" id="pageTitleMainContent" class="page-title-link" [title]="pageTitle">{{pageTitle}}</a>
		</h1>
	</div>
</ng-container>