@import '../../../../styles/vars';

$font-weight-bold: 500;

a:link, a:visited {
	color: $black-secondary;
	text-decoration: none;
}

.mat-headline {
	font-size: $text-big;
	font-weight: $font-weight-bold;
}