<header>
	<!-- Skip to Content Tab -->
	<nav id="skipToMainContent" aria-label="Skip to main content">
		<h2 tabindex="0" hidden>Skip links and keyboard navigation</h2>
		<div class="flex-container">
			<ul id="access-header">
				<li>
					<button mat-button type="button" aria-label="Skip to main content" (click)="skip()">Skip to main
						content</button>
				</li>
			</ul>
		</div>
	</nav>
	<span class="menu-buttons w-100 pt-1">
		<button type="button" mat-button *ngFor="let menuItem of mainMenuItems" [routerLink]="menuItem.link" routerLinkActive="active-link"
				[attr.aria-label]="menuItem.text">
			<mat-icon class="color-on-primary">{{menuItem.icon}}</mat-icon>
			<span *ngIf="menuItem.text">{{menuItem.text}}</span>
		</button>
		<button mat-button [matMenuTriggerFor]="menu" title="Select for account menu">
			<mat-icon role="image" alt="menu">account_box</mat-icon>
			<span class="menu-button-text-semi-hidden">My Account</span>
		</button>
		<mat-menu #menu="matMenu">
			<button type="button" mat-menu-item (click)="routeTo('/account')" *ngIf="userProfile$ | async as user">
				<mat-icon>account_circle</mat-icon>
				<span>{{user.displayName}}</span>
			</button>
			<button type="button" mat-menu-item (click)="logUserOut()" *ngIf="isLoggedIn$ | async; else loginButton">
				<mat-icon>keyboard_return</mat-icon>
				<span>Log out</span>
			</button>
			<ng-template #loginButton>
				<button type="button" mat-menu-item (click)="routeTo('/account/email')">
					<mat-icon>label_important</mat-icon>
					<span>Log In</span>
				</button>
			</ng-template>
		</mat-menu>
	</span>
</header>
<app-hero-image></app-hero-image>
