@import '../../../styles/flex-mixins';
@import '../../../styles/vars';

header {
	z-index: 1;
	position: relative;
	color: white;
}

mat-icon {
	padding-right: 0.5rem;
}

#skipToMainContent {
	background: #000;
	display: block;
	color: #fff;
	position: absolute;
	top:0;
	left: 0;
	right: 0;

	ul#access-header {
		position: absolute;
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 3;
		left: 0;
		top: 0;

		li {
			position: relative;
			width: 100%;
			list-style: none;

			.mat-button {
				position: absolute;
				top: 0;
				left: -99998px;
				width: 100%;
				display: block;
				margin: 1px 0;
				padding: 0.5em 1em;
				background: #000;
				color: #FFF;

				&:focus {
					position: relative;
					left: 0;
					background: #000;
				}
			}
		}
	}
}

