@use "sass:math";
@import './_vars.scss';
@import './_flex-mixins';


// Bootstrap utility classes:
// p-0: [padding: 0rem]
// ml-0: [margin-left: 0rem]

// pl-1 : [ padding-left: 0.5em ]
// mr-2 : [ margin-right: 1em ]
// pt-3 : [ padding-top: 1.5em ]
// mb-4 : [ margin-bottom: 2em ]

// pl-5 : [ padding-left: 2.5em ]
// mr-6 : [ margin-right: 3em ]

@each $space in $spaces {
	.m-#{$space} {
		margin: #{math.div($space, 2)}rem;
	}

	.p-#{$space} {
		padding: #{math.div($space, 2)}rem;
	}

	@each $side in $sides {
		.m#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{math.div($space, 2)}rem !important;
		}

		.p#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{math.div($space, 2)}rem !important;
		}
	}
}

@each $width in $widthsEm {
	.w-#{$width}rem {
		width: #{$width}em;
	}
}

@each $width in $widthsPercent {
	.w-#{$width} {
		width: percentage(math.div($width, 100));
	}
}

@each $height in $heightsEm {
	.h-#{$height}em {
		height: #{$height}em;
	}
}

.flex-box {
	@include flex-box;
}

.flex-column {
	@include flex-direction(column);
}

.flex-justify-end {
	@include justify-content(flex-end);
}

.flex-justify-space-between {
	@include justify-content(space-between);
}

.flex-justify-space-around {
	@include justify-content(space-around);
}

.flex-justify-center {
	@include justify-content(center);
}

.flex-row {
	@include flex-direction(row);
}

.flex-column-reverse {
	@include flex-direction(column-reverse);
}

.flex-grow-1 {
	@include flex-grow(1);
}

.align-self-center {
	@include align-self(center);
}

.flex-align-center {
	@include align-items(center);
}

.flex-align-end {
	@include align-items(flex-end);
}

.flex-row-column {
	@include breakpoint(xs) {
		@include flex-direction(column);
	}

	@include breakpoint(sm) {
		@include flex-direction(column);
	}

	@include breakpoint($min: md) {
		@include flex-direction(row);

		.max-width-45-large-screens {
			padding-bottom: 0;
		}
	}
}

// body level toast classes.
body .roll-toast .roll-toast-message {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	margin: 0 0 1em 0;
	padding: 1em;
	.roll-toast-close-icon {
		margin-top: -2em;
		margin-right: -0.7em;
	}
}
body .roll-toast .roll-toast-message.roll-toast-message-info {
	background-color: white;
	//  mat-color($primary-colour, background);
	border: 0 none;
	color: #212121;
}
body .roll-toast .roll-toast-message.roll-toast-message-info .roll-toast-close-icon {
	color: #212121;
}

body .roll-toast .roll-toast-message.roll-toast-message-alert {
	background-color: $primary-colour;
	border: 0 none;
	color: $tertiary-colour;
}

body .roll-toast .roll-toast-message.roll-toast-message-success {
	background-color: $success;
	border: 0 none;
	color: $tertiary-colour;
}

body .roll-toast .roll-toast-message.roll-toast-message-warn {
	background-color: $primary-red;
	border: 0 none;
	color: $tertiary-colour;
}

body .roll-toast .roll-toast-message.roll-toast-message-error {
	background-color: $error-colour;
	border: 0 none;
	color: $black;
}

// additional classes for mat-strong-focus-indicators for links,
// used in conjunction with ALinkDirective to apply class to all links.
a.mat-focus-indicator::before {
	margin: -4px;
}
a.mat-focus-indicator:focus-visible {
	outline: none;
}
// TODO: Change this
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
	color: #CDCDCF;
  }
  /* Font color */
  input.mat-input-element {
	color: #383838;
  }

mat-form-field.mat-focused {
	.mat-form-field-outline {
		color: orange !important;
	}
}
.mat-form-field-label {
	color: #383838;
}

.menu-buttons {
	@include flex-box();
	@include justify-content(center);
	@include breakpoint($min: md) {
		@include justify-content(flex-end);
	}
	.mat-button-wrapper {
		@include flex-box();
		@include flex-direction(column);
		@include align-items(center);
		font-size: $text-small;
	
		@include breakpoint($min: md) {
			font-size: $text-standard;
			@include flex-direction(row);
	
			.menu-button-text-semi-hidden {
				display: none;
			}
		}
	}
}
