@use "sass:math";
@import '~@angular/material/theming';

$font-family: Roboto, Helvetica, Arial, sans-serif;

// Theme Config
// Light theme
$light-primary: mat-palette($mat-green, 800);
$light-accent: mat-palette($mat-blue-gray, 900, A100, A400);
$light-warn: mat-palette($mat-red, 900);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$light-primary-color: mat-color($mat-green, 800);
$light-accent-color: mat-color($mat-blue-gray, 900);
$light-warn-color: mat-color($mat-red, 900);

$black:                     #171717;
$black-secondary:           #1D1E1C;
$primary-colour:            #383838;
$text-on-primary-colour: 	#171717;
$secondary-colour:          #383838;
$tertiary-colour:           #CDCDCF;
$quaternary-colour:         #9D9A9B;
$grey-4:                    #DDDDDF;
$grey-5:                    #E7E7E8;
$grey-6:                    #F5F5F5;
$grey-7:                    #FAFAFC;
$primary-red:               #E84B4C;
$success:                   #11BD62;

$brand-colour:              var(--brand-primary);
$error-colour:              #FCC000;

$active-colour:             $grey-6;
$active-colour-secondary:   $grey-5;

$border-radius-micro:  2px;
$border-radius-tiny:   3px;
$border-radius-small:  4px;
$border-radius-medium: 6px;
$border-radius-large:  10px;

$grid-template-areas: ". . content content content content content content content content . .";
$grid-gap: 16px;

$roller-gradient:           linear-gradient( #E84C4C, #BC304F, #870F53, #570551);
$header-height:             10.2rem;
$header-height-wide:        7rem;
$footer-height-wide:        8rem;

$animation-timing-pop:      0.23, 1.25, 0.46, 1;

$grid-column-base:          12;
$grid-column-half-width:    math.div(math.div(100vw, 12), 2);      // percentage of the width of screen. 100 / 12 (which is number of columns) = width of a single column, then divide by 2 for half that

$button-box-shadow-width:           20px;
$button-assign-box-shadow-height:   30px;
$button-box-shadow-width-mega:      40px;

$text-tiny:             0.6rem;
$text-small:            0.8rem;
$text-small-plus:       0.85rem;
$text-standard:         0.95rem;
$text-standard-plus:    1rem;
$text-medium-minus:     1.1rem;
$text-medium:           1.2rem;
$input-text:            $text-medium;
$input-text-wide:       1.1rem;
$text-modal-title:      1.6rem;
$text-big:              2.1rem;
$text-mega:             3rem;

$modal-backdrop-standard: 0.5;
$modal-backdrop-dark:     0.8;

// font-size, line-height, margin-bottom
$input-text-map: (
    xs: ($input-text, 1.167em, 0.917em, 0.833em, 1.333em),           // 22px, 28px, 22px, 20px, 32px
    sm: ($input-text, 1.167em, 0.917em, 0.833em, 1.333em),           // 32px, 28px, 22px, 20px, 32px
    md: ($input-text, 1.167em, 0.917em, 0.833em, 1.750em),           // 24px, 28px, 22px, 20px, 32px
    lg: ($input-text, 1.167em, 0.917em, 0.833em, 1.750em)            // 24px, 28px, 22px, 20px, 28px
);   

$keyboard-button-margin:                      3px;

$keyboard-button-width:                      60px;
$keyboard-button-height:                     69px;
$keyboard-button-width-q:                    61px;
$keyboard-button-width-a:                    86px;
$keyboard-button-width-bksp:                 98px;
$keyboard-button-width-meta1:                60px;
$keyboard-button-width-shift:               108px;
$keyboard-button-width-tab:                 139px;
$keyboard-button-width-space:               391px;

$keyboard-button-tablet-width:               78px;
$keyboard-button-tablet-height:              74px;
$keyboard-button-width-tablet-meta1:         78px;
$keyboard-button-width-tablet-a:            112px;
$keyboard-button-width-tablet-bksp:         125px;
$keyboard-button-width-tablet-shift:        139px;
$keyboard-button-width-tablet-tab:          178px;
$keyboard-button-width-tablet-space:        503px;

$login-box-shadow: 0 0 30px 0 rgba(0,0,0,0.33);

$h1-map: (
    md: $text-mega
);

$h2-map: (
    md: (42px, 0.714em)
);

$h3-map: (
    md: (24px, 1.4em) 
);

$h4-map: (
    md: (18px, 1.4em) 
);

$h1-wide-map: (
    md: 40px,
    lg: 40px
);

$h2-wide-map: (
    md: (32px, 0.906em),
    lg: (32px, 0.906em)     /* 29px */
);

$h3-wide-map: (
    md: (18px, 1.389em, 1.333em),
    lg: (26px, 1.389em, 1.333em) 
);

$h4-wide-map: (
    md: (16px, 1.167em),
    lg: (16px, 1.167em) 
);

$input-wide-text-map: (
    md: ($input-text-wide, 1.167em, 0.833em, 0.833em, 1.389em),           // 18px, 21px, 15px, 15px, 25px
    lg: ($input-text-wide, 1.167em, 0.833em, 0.833em, 1.389em)            // 18px, 21px, 15px, 15px, 25px
);

$checkbox-wide-map: (
    md: (16px, 1.563em),
    lg: (16px, 1.563em) 
);

$timeslots-session-start-text-map: (
    md: $text-small,
    lg: 18px
);

$grid-breakpoints: (
  md: 1080px
) !default;

$grid-breakpoints-wide: (
    md: 1280px,
    lg: 1600px
) !default;

// These are taken from Bootstrap 4 
// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
  }

  @function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $max: map-get($breakpoints, $name);
    @return if($max != 0, $max, null);
  }

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
      @media (max-width: $max) {
        @content;
      }
    } @else {
      @content;
    }
}

@mixin removeFocus {
    outline: none;
}

@mixin getValue($map, $key, $propertyToGet, $valueToGet: 1) {
    $mapValue: map-get($map, $key);

    #{$propertyToGet}: nth($mapValue, $valueToGet);
}


$widthsEm: (
	0,
	1,
	2,
	3,
	4,
	5,
	6,
	7,
	8,
	9,
	10,
	11,
	12,
	13,
	14,
	15,
	16,
	17,
	18,
	19,
	20
);

$widthsPercent: (
	5,
	10,
	15,
	20,
	24,
	25,
	30,
	33,
	35,
	40,
	45,
	50,
	55,
	60,
	65,
	70,
	75,
	80,
	81,
	82,
	85,
	90,
	91,
	92,
	93,
	94,
	95,
	100
);

$heightsEm: (
	0,
	1,
	2,
	3,
	4,
	5,
	6,
	7,
	8,
	9,
	10,
	11,
	12,
	13,
	14,
	15,
	16,
	17,
	18,
	19,
	20
);

$spaces: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, right, bottom, left);
