	<form [formGroup]="form" class="mt-2">
		<h2>Register New Account</h2>

			<!-- Email -->
			<div class="flex-box flex-align-center mb-3">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Email</mat-label>
					<mat-icon matPrefix alt="Email">email</mat-icon>
					<input type="text" matInput formControlName="email" name="email" />
					<mat-error *ngFor="let errorKey of form.get('email')?.errors | errorkeys">
						{{ errorKey | formErrorPipe: form.get('email')?.getError(errorKey) }}
					</mat-error>
				</mat-form-field>
			</div>

			<!-- Name -->
			<div class="flex-box flex-align-center mb-3">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Given Names</mat-label>
					<mat-icon matPrefix alt="Person">person</mat-icon>
					<input type="text" matInput formControlName="givenNames" name="givenNames" required id="givenNames" />
					<mat-error *ngFor="let errorKey of form.get('givenNames')?.errors | errorkeys">
						{{ errorKey | formErrorPipe: form.get('givenNames')?.getError(errorKey) }}
					</mat-error>
				</mat-form-field>
			</div>

			<!-- Name -->
			<div class="flex-box flex-align-center mb-3">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Family Name</mat-label>
					<mat-icon matPrefix alt="Person">person</mat-icon>
					<input type="text" matInput formControlName="familyName" name="familyName" required id="familyName" />
					<mat-error *ngFor="let errorKey of form.get('familyName')?.errors | errorkeys">
						{{ errorKey | formErrorPipe: form.get('familyName')?.getError(errorKey) }}
					</mat-error>
				</mat-form-field>
			</div>

			<!-- Contact Phone -->
			<div class="flex-box flex-align-center mb-3">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Phone / Mobile</mat-label>
					<mat-icon matPrefix alt="Mobile">stay_primary_portrait</mat-icon>
					<input matInput type="tel" formControlName="mobileNumber" name="mobile-number" />
					<mat-error *ngFor="let errorKey of form.get('mobileNumber')?.errors | errorkeys">
						{{ errorKey | formErrorPipe: form.get('mobileNumber')?.getError(errorKey) }}
					</mat-error>
				</mat-form-field>
			</div>

		<!-- Footer action buttons -->
		<div class="p-2 pb-4">
			<div class="flex-box flex-row flex-justify-space-between pl-2 pr-2 w-90">
				<button mat-flat-button type="button" (click)="resetForm()" color="accent" title="Clear and reset sample form.">Reset
					Form</button>
				<button mat-flat-button type="button" (click)="submitForm()" color="primary" aria-label="Register Account Button">Register
					Account</button>
			</div>
		</div>
	</form>
