<div #container class="roll-toast-message roll-shadow"
	 [@messageState]="{value: 'visible', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}"
	 [ngClass]="{'roll-toast-message-info': message.severity === messageStatus.Information ,'roll-toast-message-warn': message.severity === messageStatus.Warning,
	'roll-toast-message-error': message.severity === messageStatus.Error,'roll-toast-message-success': message.severity === messageStatus.Success,'roll-toast-message-alert': message.severity === messageStatus.Alert}"
	 (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
	<div class="roll-toast-message-content flex-box flex-align-center">
		<mat-icon class="roll-toast-icon mr-1">
			{{getIconName(message.severity)}}
		</mat-icon>
		<div class="roll-toast-message-text-content flex-grow-1 flex-box flex-column">
			<div class="roll-toast-summary">{{message.summary}}</div>
			<div class="roll-toast-detail" [innerHtml]="message.detail"></div>
		</div>
		<button mat-icon-button tabindex="0" class="roll-toast-close-icon" (click)="onCloseIconClick($event)"
				(keydown.enter)="onCloseIconClick($event)" title="close" *ngIf="message.closable !== false">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>
