<div role="alert">
	<app-toast></app-toast>
</div>
<main role="main" class="ain-body" [attr.aria-label]="'Main content column for ' + title">
	<router-outlet></router-outlet>
	<section *ngIf="!isTokenPresent && !isUserProfileLoaded">
		<h2>Temp - bypass authentication - mobile testing only.</h2>
		<button mat-flat-button type="button" color="accent" (click)="byPassAuthentication()">By pass authentication</button>
	</section>
</main>

<footer>
	<app-footer></app-footer>
</footer>
