@import '../../../../styles/vars';

.brand {
    &--roller {
        display: flex;
        align-items: center;
        margin-left: auto;

        .logo--roller {
            display: inline-block;
            vertical-align: middle;
            margin-left: $text-standard;
        }

        &--vertical {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .brand__text {
                font-size: $text-standard;
                line-height: 1.188;
                color: $primary-colour;
                position: static;
            }

            .logo--roller {
                margin: 10px 0 0 0;
            }
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        position: relative;
        top: -1px;
    }
}