<div>
	Home content v1.5.
</div>

<section class="mb-4">
	<h2>Enable push notifications</h2>
		<button mat-flat-button color="accent" type="button" [disabled]="isSwPushEnabled" (click)="pushSubscription()" class="mr-2 mb-2">Push Notification</button>
		<button mat-flat-button color="primary" type="button" (click)="notificationPermission()">Notification permission</button>

</section>

<section class="mb-8">
	<h2>Test notice button</h2>
	<form [formGroup]="form">
		<!-- Title -->
		<div class="flex-box flex-align-center mb-3">
			<mat-form-field appearance="outline" class="w-90 form-control">
				<mat-label>Message title</mat-label>
				<mat-icon matPrefix alt="Title">short_text</mat-icon>
				<input type="text" matInput formControlName="title" name="title" />
				<mat-error *ngFor="let errorKey of form.get('title')?.errors | errorkeys">
					{{ errorKey | formErrorPipe: form.get('title')?.getError(errorKey) }}
				</mat-error>
			</mat-form-field>
		</div>

		<!-- Text -->
		<div class="flex-box flex-align-center mb-3">
			<mat-form-field appearance="outline" class="w-90 form-control">
				<mat-label>Message text</mat-label>
				<mat-icon matPrefix alt="Person">textsms</mat-icon>
				<input type="text" matInput formControlName="text" name="text" required id="text" />
				<mat-error *ngFor="let errorKey of form.get('text')?.errors | errorkeys">
					{{ errorKey | formErrorPipe: form.get('text')?.getError(errorKey) }}
				</mat-error>
			</mat-form-field>
		</div>
		<div>
			<button mat-flat-button color="primary" type="button" (click)="sendNoticeTest()" class="mr-2 mb-2">Test Notice DIRECTLY to service worker</button>
			<button mat-flat-button color="accent" type="button" (click)="sendNoticeApi()">Notice via public API</button>
		</div>
	</form>
</section>

<div>
	<h2>Links to other slugs/sites</h2>
	<button type="button" mat-flat-button color="accent" (click)="navigateToUrl('cc-adventure-park', 100)" class="mr-2 mb-2">Christ Church Adventure Park</button>
	<button type="button" mat-flat-button color="accent" (click)="navigateToUrl('thredbo', 100)">Thredbo</button>
</div>
